input {
    file {
        path => "/Users//*****//Desktop/price_position_map.csv"
        start_position => "beginning"
        #sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => ["lat", "lon", "dong", "price"]
    }

    mutate {
        convert => { "lat" => "float" }
        convert => { "lon" => "float" }
        convert => { "dong" => "string" }
        convert => { "price" => "integer" }
    }

    mutate {
        add_field => { "[locations][lat]" => "%{lat}" }
        add_field => { "[locations][lon]" => "%{lon}" }
    }

    mutate {
        convert => { "[locations][lat]" => "float" }
        convert => { "[locations][lon]" => "float" }
    }

    mutate {
        remove_field => ["timestamp", "host", "tags", "@version", "path"]
    }
}

output {
    stdout {
        codec => "dots"
    }

    elasticsearch {
        hosts => ["localhost:9200"]
        user => "/*****/"
        password => "/*****/"
        index => "ls_seoul_price_info_index"
    }
}