input {
    file {
        path => "/Users//*****//ELK/DataFolder/rank1.csv"
        start_position => "beginning"
        #sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => ["gu_name", "rank_estate_change", "rank_happy", "rank_traffic", "rank_house_price", "rank_population", "rank_tax", "rank_final", "estate_change_rate", "happy_point", "traffic_point", "house_price_point", "population_point", "tax_point", "final_point"]
    }

    mutate {
        convert => { "gu_name" => "string" }
        convert => { "rank_estate_change" => "integer" }
        convert => { "rank_happy" => "integer" }
        convert => { "rank_traffic" => "integer" }
        convert => { "rank_house_price" => "integer" }
        convert => { "rank_population" => "integer" }
        convert => { "rank_tax" => "integer" }
        convert => { "rank_final" => "integer" }
        convert => { "estate_change_rate" => "float" }
        convert => { "happy_point" => "float" }
        convert => { "traffic_point" => "float" }
        convert => { "house_price_point" => "float" }
        convert => { "population_point" => "float" }
        convert => { "tax_point" => "float" }
        convert => { "final_point" => "float" }
    }

    mutate {
        remove_field => ["timestamp", "host", "tags", "@version", "path"]
    }
}

output {
    stdout {
        codec => "dots"
    }

    elasticsearch {
        hosts => ["localhost:9200"]
        user => "/*****/"
        password => "/*****/"
        index => "ls_seoul_rank_info_idx"
    }
}