input {
    file {
        path => "/Users//*****//Desktop/tax_gu_2015_2019.csv"
        start_position => "beginning"
        #sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => ["gu_name", "lat", "long", "tax_type", "unit", "2015", "2016", "2017", "2018", "2019"]
    }

    mutate {
        convert => { "gu_name" => "string" }
        convert => { "lat" => "float" }
        convert => { "long" => "float" }
        convert => { "tax_type" => "string" }
        convert => { "unit" => "integer" }
        convert => { "2015" => "integer" }
        convert => { "2016" => "integer" }
        convert => { "2017" => "integer" }
        convert => { "2018" => "integer" }
        convert => { "2019" => "integer" }
    }

    mutate {
        add_field => { "[locations][lat]" => "%{lat}" }
        add_field => { "[locations][lon]" => "%{long}" }
    }

    mutate {
        convert => { "[locations][lat]" => "float" }
        convert => { "[locations][lon]" => "float" }
    }

    mutate {
        remove_field => ["timestamp", "host", "tags", "@version", "path"]
    }
}

output {
    stdout {
        codec => "rubydebug"
    }

    elasticsearch {
        hosts => ["localhost:9200"]
        user => "/*****/"
        password => "/*****/"
        index => "ls_seoul_tax_info_index"
    }
}