input {
    file {
        path => "/Users//*****//Desktop/seoul_population_in_out.csv"
        start_position => "beginning"
        #sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => ["date", "city", "total_in", "total_out", "from_to_same_gu", "from_to_gu_in", "from_to_gu_out", "from_to_city_in", "from_to_city_out", "sum_in_out"]
    }

    mutate {
        convert => { "city" => "string" }
        convert => { "total_in" => "integer" }
        convert => { "total_out" => "integer" }
        convert => { "from_to_same_gu" => "integer" }
        convert => { "from_to_gu_in" => "integer" }
        convert => { "from_to_gu_out" => "integer" }
        convert => { "from_to_city_in" => "integer" }
        convert => { "from_to_city_out" => "integer" }
        convert => { "sum_in_out" => "integer" }
    }

    mutate {
        remove_field => ["timestamp", "host", "tags", "@version", "path"]
    }
}

output {
    stdout {
        codec => "dots"
    }

    elasticsearch {
        hosts => ["localhost:9200"]
        user => "/*****/"
        password => "/*****/"
        index => "ls_seoul_population_change_index"
    }
}