input {
    file {
        path => "/Users/*****/Desktop/subway_info.csv"
        start_position => "beginning"
        #sincedb_path => "/dev/null"
    }
}

filter {
    mutate {
        remove_field => ["agent"]
    }

    csv {
        separator => ","
        columns => ["line", "name", "code", "lat", "lon"]
    }

    mutate {
        convert => { "line" => "string" }
        convert => { "name" => "string" }
        convert => { "code" => "string" }
        convert => { "lat" => "float" }
        convert => { "lon" => "float" }
    }

    mutate {
        add_field => { "[locations][lat]" => "%{lat}" }
        add_field => { "[locations][lon]" => "%{lon}" }
    }

    mutate {
        convert => { "[locations][lat]" => "float" }
        convert => { "[locations][lon]" => "float" }
    }

    mutate {
        remove_field => ["timestamp", "host", "tags", "@version", "path"]
    }
}

output {
    stdout {
        codec => "dots"
    }

    elasticsearch {
        hosts => ["localhost:9200"]
        user => "/*****/"
        password => "/*****/"
        index => "ls_seoul_subway_info_index"
    }
}